{% extends 'base.html' %}

{% block title %}
       {{Section.name}}
{%endblock%}



{% block breadcrumb %}
  <li class="breadcrumb-item "><a href="{% url 'home'%}">Section</a></li>
    <li class="breadcrumb-item active">{{Section.name}}</li>
 {%endblock%}


{% block content %}
    <div class="mb-4">
    <a href="{% url 'newAds' Section.pk %}" class="btn btn-primary">New Ads</a>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>ADs</th>
        <th>Created by</th>
        <th>Comments</th>
        <th>Views</th>
        <th>Created dt</th>
    </tr>
    </thead>
    <tbody>
    {%for ads in Ads %}
    <tr>
        <td><a href="{% url 'adsComments' Section.pk ads.pk %}">{{ads.subject}}</a></td>
        <td>{{ads.created_by.username}}</td>
        <td>{{ads.commentCount}}</td>
        <td>{{ads.views}}</td>
        <td>{{ads.created_dt}}</td>

    </tr>
    {%endfor%}

    </tbody>
</table>


{% if Ads.has_other_pages %}
  <nav aria-label="Ads pagination" class="mb-4">
    <ul class="pagination">
      {% if Ads.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ Ads.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in Ads.paginator.page_range %}
        {% if Ads.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if Ads.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ Ads.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}




{%endblock%}