{% extends 'base.html' %}
{% load static%}

{% block title %}
       {{ads.subject}}
{%endblock%}



{% block breadcrumb %}
  <li class="breadcrumb-item "><a href="{% url 'home'%}">Section</a></li>
<li class="breadcrumb-item"><a href="{% url 'SectionAds' Ads.section.pk %}">{{Ads.section.name}}</a></li>
    <li class="breadcrumb-item active">{{Ads.subject}}</li>
 {%endblock%}


{% block content %}

{% if perms.AdsBoard.add_comments %}
<div class="mb-4">
    <a href="{% url 'replyAds' Ads.section.pk Ads.pk %}" class="btn btn-primary">Reply</a>
</div>
{%endif%}




           {% for comment in comments%}

<div class="card mb-3 mt-2  border border-1 ">

    {% if comment.created_by == user %}
      <div class="card-body p-3 note note-info  ">
          {%elif comment.ads.created_by == comment.created_by%}
                    <div class="card-body p-3 note note-primary  ">
          {%else%}
          <div class="card-body p-3 note note-light bg-white ">
          {%endif%}
        <div class="row ">

          <div class="col-12 mt-2 mb-2">
            <div class="row mb-2">
              <div class="col-11">
                <strong class=""><i class="fa-regular  fa-circle-user rounded me-1"></i> {{ comment.created_by.username }}</strong>
              </div>

              <div class="col-1 text-right">
                <div class="dropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <div
                      class=""
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true"
                    >
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      {% if comment.created_by == user and perms.AdsBoard.change_comments %}
                      <li>

                        <a href="{% url 'CommentUpdateView' comment.ads.section.pk comment.ads.pk comment.pk %}" class=" me-3 dropdown-item" role="button">Edit</a>

                      </li>
                      <li>
                        <div class="dropdown-divider">

                        </div>
                      </li>
                      <li>

                        <a href="{% url 'CommentDelete' comment.ads.section.pk comment.ads.pk comment.pk %}" class="dropdown-item  me-3" role="button">Delete</a>

                      </li>
                      {% elif comment.created_by.is_active == False  and user.is_staff  %}
                      <li>

                        <a href="{% url 'CommentDelete' comment.ads.section.pk comment.ads.pk comment.pk %}" class="dropdown-item btn btn-danger btn-sm me-3" role="button">Delete</a>

                      </li>
            {% elif perms.AdsBoard.remove_comments and user.is_staff      %}
                      <li>

                <a href="{% url 'BandUserComment' comment.ads.section.pk comment.ads.pk  comment.created_by.pk %}" class="dropdown-item  btn btn-warning btn-sm" role="button">Band</a>

                      </li>
                      <li>
                        <div class="dropdown-divider">

                        </div>
                      </li>
                      <li>

                        <a href="{% url 'CommentDelete' comment.ads.section.pk comment.ads.pk comment.pk %}" class="dropdown-item btn btn-danger btn-sm me-3" role="button">Delete</a>

                      </li>

            {% endif %}

                    </ul>
                  </li>
                </ul>
              </div>
              </div>
            </div>

            {{ comment.message }}
            <div class="row text-right">
                <small class="text-muted"> {{ comment.created_dt }}</small>
            </div>

          </div>

                  </div>
      </div>
    </div>
           {% endfor %}





{% if comments.has_other_pages %}
  <nav aria-label="Ads pagination" aria-label="..." class="mb-4 pt-3 pb-0">
    <ul class="pagination pagination-circle justify-content-center">
      {% if comments.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in comments.paginator.page_range %}
        {% if comments.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if comments.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{%endblock%}