{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'Bootstrap/css/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'Bootstrap/css/mdb.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />

</head>
<body >

    <style>

      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }
      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

{% block body %}



    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class=""  href="{% url 'home' %}">
         ADS
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}" rel="nofollow"
                >Section</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">About</a>
            </li>

          </ul>

          <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item">
               {%if user.is_authenticated%}

  <div class="dropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

  <a class="nav-link   dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Welcome  {{ user.username }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

    <li><a class="dropdown-item" href="{% url 'myAccount'%}">My account</a></li>
    <li><a class="dropdown-item" href="{% url 'changePassword' %}">Change password</a></li>
    <li><div class="dropdown-divider"></div></li>
    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
  </ul>
                  </li>
      </ul>
</div>
       {%else%}
                 <div class="ps-1 pe-1 d-none d-lg-block">


        <a class="btn btn-primary  m-2" href="{% url 'login' %}" target="_blank"
        role="button">Login</a>
                <a class="btn  btn-primary m-2" href="{%url 'signup'%}" target="_blank"
        role="button">Signup</a>

 </div>
            {%endif%}
              </li></ul>
      </div>
      </div>
    </nav>
    <!-- Navbar -->


  <main class="my-5 pb-5">
    <div class="container pb-5">

<div class="  text-center pt-3 pb-5 ">
<div id="intro" class="border border-1 p-3 pb-1  text-start bg-light">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    {% block breadcrumb %}

    {%endblock%}
</ol>
</nav>
</div>
</div>


    {% block content %}

    {%endblock%}

    </div>
  </main>



{%endblock body%}

  <!--Footer-->
  <footer class="bg-light text-lg-start pt-5">


    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Follow You Can on social media</p>
      <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">YouCan.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->

<script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'Bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'Bootstrap/js/all.min.js'%}"></script>
<script src="{%static 'Bootstrap/js/mdb.min.js'%}"></script>
</body>
</html>