{% extends 'base.html' %}
{% load i18n %}
{% block title %}
     Change Password Successful
{%endblock%}



{% block breadcrumb %}

    <li class="breadcrumb-item "><a href="{% url 'changePassword'%}">{% trans 'Change Password' %}</a></li><div class="vr ms-2 me-2"></div>
    <li class="breadcrumb-item active">{% trans 'Success' %}</li>
 {%endblock%}


{% block content %}

<div class="alert alert-success" role="alert">
    {% trans 'Your password has been changed  ^_^' %}
</div>

<a href="{% url 'home'%}">{% trans 'Return to home' %}</a>
{%endblock%}