{% extends 'base.html' %}
{% load i18n %}

{% block title %}
     Edit  Ads
{%endblock%}


{% block breadcrumb %}

  <li class="breadcrumb-item "><a href="{% url 'home'%}">{% trans 'Section' %}</a></li><div class="vr ms-2 me-2"></div>
    {% if LANGUAGE_CODE == 'ar' %}
    <li class="breadcrumb-item "><a href="{% url 'SectionAds' ads.section.pk%}">{{ads.section.name_ar}}</a></li><div class="vr ms-2 me-2"></div>
    {%else%}
    <li class="breadcrumb-item "><a href="{% url 'SectionAds' ads.section.pk%}">{{ads.section.name}}</a></li><div class="vr ms-2 me-2"></div>
    {%endif%}
    <li class="breadcrumb-item active">{% trans 'Edit Ads' %}</li>
 {%endblock%}


{% block content %}
<div class="card">
    <div class="card-body row">
<form method="post" enctype="multipart/form-data"  novalidate class="mb-4">
    {% csrf_token %}
     {{form.media}}
    {% include 'form.html' %}

    <button type="submit" class="btn btn-success mt-2">{% trans 'Save' %}</button>
</form>
 </div></div>
{%endblock%}