{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
     Edit  Ads
{%endblock%}



{% block breadcrumb %}

  <li class="breadcrumb-item "><a href="{% url 'home'%}">{% trans 'Section' %}</a></li><div class="vr ms-1 me-1"></div>
    {% if LANGUAGE_CODE == 'ar' %}
    <li class="breadcrumb-item "><a href="#">{{section.name_ar}}</a></li>
    {%else%}
    <li class="breadcrumb-item "><a href="#">{{section.name}}</a></li>
    {%endif%}
 {%endblock%}


{% block content %}
<div class="card">
    <div class="card-body row">
            <div class="col-6">
                    <form method="post" enctype="multipart/form-data"  novalidate class="mb-4 mt-5">
                        {% csrf_token %}
                         {{form.media}}
                        {% include 'form.html' %}

                        <button type="submit" class="btn btn-success mt-2">{% trans 'Save' %}</button>
                    </form>
            </div>
            <div class="col-6">
            <img class="card-img-top" src="{% static 'img/20943483.jpg' %}" alt="{% trans 'Image' %}">
        </div>

    </div>
</div>
{%endblock%}
