{% extends 'base.html' %}

{% block title %}
        Section
{%endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Section</li>
 {%endblock%}

{% block content %}


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Section</th>
        <th>Ads</th>
        <th>Last Ad</th>
        <th>Add by</th>
    </tr>
    </thead>
    <tbody>
    {% for Sections in Section%}
    <tr>
        <td><a href="{% url 'SectionAds' Sections.pk%}">{{Sections.name}}</a>
        <small class="text-muted d-block">{{Sections.description}}</small>
        </td>
        <td>{{Sections.ads.count}}</td>
        <td>
            {%if Sections.ads.last%}
                {{Sections.ads.last}}
            {%else%}
                NO ADS
            {%endif%}
        </td>
        <td>
            {% with ads=Sections.ads.last %}
            {%if ads%}
            by   {{ads.created_by.username}}<small class="text-muted d-block"> at    {{ads.created_dt}}</small>

            {%else%}
             NO ADS
            {%endif%}
            {%endwith%}
        </td>
    </tr>
    {%endfor%}

    </tbody>
</table>
 {%endblock%}