{% extends 'base.html' %}
{% load static%}

{% block title %}
        Section
{%endblock%}



{% block breadcrumb %}
      <!-- Jumbotron -->

<li class="breadcrumb-item active" aria-current="page">Section</li>

    <!-- Jumbotron -->
 {%endblock%}



{% block content %}


<style>

.inner{
    overflow:hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.hh{
height:180px
}

.hh img{
height:180px
}

</style>

  <!--Main Navigation-->

  <!--Main layout-->

      <!--Section: Content-->
      <section class="text-center">


          <!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade mb-5" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner rounded-5 shadow-4-strong">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
        alt="Sunset Over the City" />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
        alt="Canyon at Nigh" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
        alt="Cliff Above a Stormy Sea" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->




<div class="row mt-5">
          {% for Sections in Section%}

          <div class="col-lg-4 col-md-12 mb-4 ">
            <div class="card text-start border border-2 shadow-5">

              <div class="bg-image hover-overlay ripple hh"   data-mdb-ripple-color="light">
            {%if Sections.img%}
                  <div class="inner">
                        <img src="{{ Sections.img.url }}" alt="{{ Sections.name }}"  class="img-fluid "     >
                  </div>
                  {%else%}
                  <div class="inner">
                  <img src="{% static 'img/6070193.jpg' %}" alt="{{ Sections.name }}" class="img-fluid" >
                      </div>
            {%endif%}
                <a href="{% url 'SectionAds' Sections.pk%}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>


                <div class="card-body row " >
                  <h5 class="card-title  col " >
                      <a href="{% url 'SectionAds' Sections.pk%}" class="">{{Sections.name|upper}}</a>
                        <small class="text-muted d-block">{{Sections.description}}</small>

                  </h5>
<div class="col-1">
                    {% if user.is_staff%}


                    <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown ">


                  <a
                    class="nav-link text-dark"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                      <h5>
                  <i class="fa-solid fa-ellipsis-vertical "></i></h5>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                      <li>

                        <a href="{% url 'SectionEditView' Sections.pk  %}" class="  dropdown-item " role="button"><i class="fa-regular fa-pen-to-square"></i> Edit</a>

                      </li>









                  </ul>
                </li>
              </ul>

                         {%endif%}



</div>

              </div>
                <ul class="list-group list-group-flush">
    <li class="list-group-item"> <i class="fa-regular fa-copy"></i> Ads  {{Sections.ads.count}}</li>
    </ul>
                <div class="card-footer text-muted">
                    {% with ads=Sections.ads.last %}
                    {%if ads%}
                     update   by   <i class="fa-regular fa-circle-user"></i> {{ads.created_by.username}}
    <small class="text-muted d-block"> at    {{ads.created_dt}}</small>{%else%} NO ADS {%endif%} {%endwith%}

  </div>
            </div>
          </div>




        {%endfor%}
</div>
      </section>
      <!--Section: Content-->



  <!--Main layout-->


 {%endblock%}