{% extends 'base.html' %}
{% load static%}
{% block title %}
       {{user.username}}
{%endblock%}

{% block section %}
        {% for Sections in getSection%}
                    <li>
                      <a class="dropdown-item" href="{% url 'SectionAds' Sections.pk%}">{{Sections.name}}</a>
                    </li>

        {%endfor%}
{%endblock%}

{% block breadcrumb %}
  <li class="breadcrumb-item "><a href="{% url 'home'%}">Section</a></li>
    <li class="breadcrumb-item active">Profile</li>
    <li class="breadcrumb-item active">{{user_profile.username}}</li>
 {%endblock%}


{% block content %}
<style>
    .padding {
    padding: 0rem !important;

}

.card-img-top{

}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -40px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 158px;
    height: 158px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 20 20 20px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}



h3 {
    line-height: 30px;
    font-size: 21px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}














</style>


    <div class="mb-4">

        <div class="padding ">
            <div class="card text-center col-md-12">
                <!-- Column -->

                <div class="">
                    <img class="col-8 " src="{% static 'img/20943919.jpg' %}" alt="image">
                    <div class="card-body little-profile text-center">
                        <div class="pro-img"><img src="{% static 'img/avatar-06.png' %}" alt="user"></div>
                        <h3 class="m-b-0">@{{user_profile.username}}</h3>
                            <div><i class="fa-regular fa-user"></i> {{user_profile.first_name}} {{user_profile.last_name}}

                            </div>
        <i class="fa-regular fa-envelope"></i> <a href="mailto:{{user_profile.email}}">{{user_profile.email}}</a>


        <!--    <p>Web Designer &amp; Developer</p>-->
                        <div class="row text-center m-t-10">
                            <div class="col-lg-4 col-md-4 m-t-20">
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light"><i class="fa-regular fa-copy"></i> Ads  {{CountUserAds}}</h3>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
    </div>
</div>






         {%for ads in Ads %}
        {% if ads.pk not in li %}
            <div class="card border border-1   mt-3 mb-3" >
            <h5 class="card-header  bg-light">
                <div class="row">

                    <div class="col">
                        <strong>
                            <a href="{% url 'UserProfile' ads.created_by.pk %}">@{{ads.created_by.username}}</a>
                        </strong>
                        <small class="text-muted d-block fs-6 lh-base">{{ads.created_dt|date:"H:i A , d/m/Y"}}</small>
                    </div>
                     <div class="col-1">
                              <div class="text-primary" >
                                  {% if ads.pk not in l %}
                                  <a href="{% url 'saveArchivesAds' ads.pk  1 %}" ><i class="fa-regular fa-bookmark fs-1"></i></a>
                                  {% else%}
                                  <a href="{% url 'deleteArchivesAds' ads.pk 1 %}" ><i class="fa-solid fa-bookmark fs-1"></i></a>
                                  {% endif%}
                              </div>
                          </div>
                </div>
            </h5>
            {% else %}
            <div class="card border 1   mt-3 mb-3" >
            <h5 class="card-header  bg-light text-primary " >
                      <div class="row">

              <div class="col">
<strong>
               </i><a href="{% url 'UserProfile' ads.created_by.pk %}" class=""> @{{ads.created_by.username}}</a>
    </strong>
                   <small class="text-muted d-block fs-6 lh-base">{{ads.created_dt|date:"H:i A , d/m/Y"}}</small>
</div>
                          <div class="col-1">
                              <div class="text-primary" >NEW</div>
                          </div>
                          <div class="col-1">
                              <div class="text-primary" >
                                 {% if ads.pk not in l %}
                                  <a href="{% url 'saveArchivesAds' ads.pk 1 %}" ><i class="fa-regular fa-bookmark fs-1"></i></a>
                                  {% elif ads.pk  in l%}
                                  <a href="{% url 'deleteArchivesAds' ads.pk 1 %}" ><i class="fa-solid fa-bookmark fs-1"></i></a>
                                  {% endif%}
                              </div>
                          </div>
      </div>
  </h5>
        {% endif %}


  <div class="card-body" style="transform: rotate(0);">
    {%if ads.created_by.id == user.id %}
    <h5 class="card-title"><a href="{% url 'adsComments' ads.section.pk ads.pk 1 %}" class="stretched-link text-decoration-underline" >{{ads.subject}}</a></h5>
   {%else%}
          <h5 class="card-title"><a href="{% url 'adsComments' ads.section.pk ads.pk ads.created_by.id %}" class="stretched-link text-decoration-underline" >{{ads.subject}}</a></h5>
   {%endif%}
    <p class="card-text text-justify"> {{ads.messageAds|safe}}</p>
     {%if ads.img%}
      <a href="{{ ads.img.url }}" target="_blank">
                <img src="{{ ads.img.url }}" alt="{{ ads.subject}}" class="img-fluid" height="100" width="120"  >

      </a>

      {%endif%}
  </div>
    <div class="card-footer text-muted">

        <div class="row">

            {% if ads.created_by == user and perms.AdsBoard.change_ads  %}
            <div class="col-1">
              <div class="">
                <a href="{% url 'AdsUpdateView' ads.section.pk ads.pk 1 %}" class="btn btn-info btn-sm" role="button">Edit</a>
              </div>

            </div>
            <div class="col-1">

              <div class="">
<!--                <a href="{% url 'DeleteAds' ads.section.pk  ads.pk 1 %}" class="btn btn-danger btn-sm" role="button">Delete</a>-->


<!-- Button trigger modal -->
<a href="{{ads.pk}}" type="button"  class="btn btn-danger btn-sm" data-mdb-toggle="modal" data-mdb-target="#ex{{ads.pk}}">
  Delete
</a>

<!-- Modal -->
<div class="modal fade" id="ex{{ads.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header bg-danger text-white justify-content-center ">
        <h3 class="modal-title" id="exampleModalLabel">Are you sure?</h3>
      </div>
      <div class="modal-body text-danger text-center "><h1><i class="fa-solid fa-xmark"></i></h1></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>

         <a href="{% url 'DeleteAds' ads.section.pk  ads.pk 1 %}" class="btn btn-outline-danger" role="button">Yes</a>


      </div>
    </div>
  </div>
</div>




              </div>
            </div>

            {% elif ads.created_by.is_active == False  and user.is_superuser  %}
            <div class="col-1">

              <div class="">
                  <!-- Button trigger modal -->
<a href="{{ads.pk}}" type="button"  class="btn btn-danger btn-sm" data-mdb-toggle="modal" data-mdb-target="#exb{{ads.pk}}">
  Delete
</a>

<!-- Modal -->
<div class="modal fade" id="exb{{ads.pk}}" tabindex="-1" aria-labelledby="exampleModalLabelb" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header bg-danger text-white justify-content-center ">
        <h3 class="modal-title" id="exampleModalLabelb">Are you sure? {{ads.pk}}</h3>
      </div>
      <div class="modal-body text-danger text-center "><h1><i class="fa-solid fa-xmark"></i></h1></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>

         <a href="{% url 'DeleteAds' ads.section.pk  ads.pk 1 %}" class="btn btn-outline-danger" role="button">Yes</a>


      </div>
    </div>
  </div>
</div>


              </div>
            </div>
            {% elif perms.AdsBoard.remove_ads and user.is_superuser      %}
            <div class="col-1">

              <div class="">
<!-- Button trigger modal -->
<a href="{{ads.pk}}" type="button"  class="btn btn-danger btn-sm" data-mdb-toggle="modal" data-mdb-target="#exa{{ads.pk}}">
  Delete
</a>

<!-- Modal -->
<div class="modal fade" id="exa{{ads.pk}}" tabindex="-1" aria-labelledby="exampleModalLabela" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header bg-danger text-white justify-content-center ">
        <h3 class="modal-title" id="exampleModalLabela">Are you sure?</h3>
      </div>
      <div class="modal-body text-danger text-center "><h1><i class="fa-solid fa-xmark"></i></h1></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>

         <a href="{% url 'DeleteAds' ads.section.pk  ads.pk 1 %}" class="btn btn-outline-danger" role="button">Yes</a>


      </div>
    </div>
  </div>
</div>


              </div>

            </div>
            <div class="col-1">
                <div class="">

                    <!-- Button trigger modal -->
<a href="{{ads.pk}}" type="button"  class="btn btn-warning btn-sm" data-mdb-toggle="modal" data-mdb-target="#exba{{ads.pk}}">
  Band
</a>

<!-- Modal -->
<div class="modal fade" id="exba{{ads.pk}}" tabindex="-1" aria-labelledby="exampleModalLabelba" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header bg-warning text-white justify-content-center ">
        <h3 class="modal-title" id="exampleModalLabelba">Are you sure?</h3>
      </div>
      <div class="modal-body text-warning text-center "><h1><i class="fa-solid fa-ban"></i></h1></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-mdb-dismiss="modal">No</button>

         <a href="{% url 'BandUserAds' ads.section.pk ads.created_by.pk 1 %}" class="btn btn-outline-warning" role="button">Yes</a>


      </div>
    </div>
  </div>
</div>



              </div>
            </div>

            {% else %}

            {% endif %}



            <div class="col"></div>

            <div class="col-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Comments"> <i class="fa-regular fa-comments"></i> {{ads.commentCount}}</div>
            <div class="col-1" data-bs-toggle="tooltip" data-bs-placement="left" title="View">  <i class="fa-solid fa-eye"></i> {{ads.views}}</div>
            <div class="col-3">
                 <a href="{% url 'SectionAds' ads.section.pk%}" class="">{{ads.section.name|upper}}</a>

            </div>



        </div>
  </div>
</div>


 {%endfor%}



<!--{% if Ads.has_other_pages %}-->
<!--  <nav aria-label="Ads pagination" aria-label="..." class="mb-4 pt-3 pb-0">-->
<!--    <ul class="pagination pagination-circle justify-content-center">-->
<!--      {% if Ads.has_previous %}-->
<!--        <li class="page-item">-->
<!--          <a class="page-link" href="?page={{ Ads.previous_page_number }}">Previous</a>-->
<!--        </li>-->
<!--      {% else %}-->
<!--        <li class="page-item disabled">-->
<!--          <span class="page-link">Previous</span>-->
<!--        </li>-->
<!--      {% endif %}-->

<!--      {% for page_num in Ads.paginator.page_range %}-->
<!--        {% if Ads.number == page_num %}-->
<!--          <li class="page-item active">-->
<!--            <span class="page-link">-->
<!--              {{ page_num }}-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </span>-->
<!--          </li>-->
<!--        {% else %}-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>-->
<!--          </li>-->
<!--        {% endif %}-->
<!--      {% endfor %}-->

<!--      {% if Ads.has_next %}-->
<!--        <li class="page-item">-->
<!--          <a class="page-link" href="?page={{ Ads.next_page_number }}">Next</a>-->
<!--        </li>-->
<!--      {% else %}-->
<!--        <li class="page-item disabled">-->
<!--          <span class="page-link">Next</span>-->
<!--        </li>-->
<!--      {% endif %}-->
<!--    </ul>-->
<!--  </nav>-->
<!--{% endif %}-->



<div class="text-center mt-5 mb-3">


      {% if Ads.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ Ads.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in Ads.paginator.page_range %}
        {% if Ads.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > Ads.number|add:'-3' and num < Ads.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if Ads.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ Ads.next_page_number }}">Next</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ Ads.paginator.num_pages }}">Last</a>
      {% endif %}


</div>


{%endblock%}